<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shaunz.photography.web.photography.dao.PhotoGraphyMapper" >
  <resultMap id="BaseResultMap" type="com.shaunz.photography.web.photography.entity.PhotoGraphy" >
    <id column="vch_photo_id" property="vchPhotoId" jdbcType="VARCHAR" />
    <result column="vch_photo_name" property="vchPhotoName" jdbcType="VARCHAR" />
    <result column="vch_photo_group" property="vchPhotoGroup" jdbcType="VARCHAR" />
    <result column="vch_photo_url" property="vchPhotoUrl" jdbcType="VARCHAR" />
    <result column="vch_photo_takeplace" property="vchPhotoTakeplace" jdbcType="VARCHAR" />
    <result column="vch_photo_camera" property="vchPhotoCamera" jdbcType="VARCHAR" />
    <result column="vch_photo_focal_length" property="vchPhotoFocalLength" jdbcType="VARCHAR" />
    <result column="vch_photo_aperture" property="vchPhotoAperture" jdbcType="VARCHAR" />
    <result column="vch_photo_exposure_time" property="vchPhotoExposureTime" jdbcType="VARCHAR" />
    <result column="vch_photo_iso" property="vchPhotoIso" jdbcType="VARCHAR" />
    <result column="vch_photo_owner" property="vchPhotoOwner" jdbcType="VARCHAR" />
    <result column="vch_close_flg" property="vchCloseFlg" jdbcType="VARCHAR" />
    <result column="vch_add_usr" property="vchAddUsr" jdbcType="VARCHAR" />
    <result column="dt_add_date" property="dtAddDate" jdbcType="TIMESTAMP" />
    <result column="vch_mod_usr" property="vchModUsr" jdbcType="VARCHAR" />
    <result column="dt_mod_date" property="dtModDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    vch_photo_id, vch_photo_name, vch_photo_group, vch_photo_url, vch_photo_takeplace, vch_photo_camera, 
    vch_photo_focal_length, vch_photo_aperture, vch_photo_exposure_time, vch_photo_iso, 
    vch_photo_owner, vch_close_flg, vch_add_usr, dt_add_date, vch_mod_usr, dt_mod_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_photography
    where vch_photo_id = #{vchPhotoId,jdbcType=VARCHAR}
  </select>
  <select id="selectByParameter" resultMap="BaseResultMap" parameterType="com.shaunz.photography.web.photography.entity.PhotoGraphy" >
    select 
    <include refid="Base_Column_List" />
    from tb_photography
    <where>
    	<if test="vch_photo_name != null and vch_photo_name != ''" >
	    	vch_photo_name like #{vchPhotoId,jdbcType=VARCHAR}
	    </if>
	    <if test="vch_photo_group != null and vch_photo_group != ''" >
	    	and vch_photo_name like #{vchPhotoId,jdbcType=VARCHAR}
	    </if>
	    <if test="vch_photo_owner != null and vch_photo_owner != ''" >
	    	and vch_photo_name like #{vchPhotoId,jdbcType=VARCHAR}
	    </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_photography
    where vch_photo_id = #{vchPhotoId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shaunz.photography.web.photography.entity.PhotoGraphy" >
    insert into tb_photography (vch_photo_id, vch_photo_name, vch_photo_group, 
      vch_photo_takeplace, vch_photo_camera, vch_photo_focal_length, 
      vch_photo_aperture, vch_photo_exposure_time, 
      vch_photo_iso, vch_photo_owner, vch_close_flg, 
      vch_add_usr, dt_add_date, vch_mod_usr, 
      dt_mod_date)
    values (#{vchPhotoId,jdbcType=VARCHAR}, #{vchPhotoName,jdbcType=VARCHAR}, #{vchPhotoGroup,jdbcType=VARCHAR}, 
      #{vchPhotoTakeplace,jdbcType=VARCHAR}, #{vchPhotoCamera,jdbcType=VARCHAR}, #{vchPhotoFocalLength,jdbcType=VARCHAR}, 
      #{vchPhotoAperture,jdbcType=VARCHAR}, #{vchPhotoExposureTime,jdbcType=VARCHAR}, 
      #{vchPhotoIso,jdbcType=VARCHAR}, #{vchPhotoOwner,jdbcType=VARCHAR}, #{vchCloseFlg,jdbcType=VARCHAR}, 
      #{vchAddUsr,jdbcType=VARCHAR}, #{dtAddDate,jdbcType=TIMESTAMP}, #{vchModUsr,jdbcType=VARCHAR}, 
      #{dtModDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shaunz.photography.web.photography.entity.PhotoGraphy" >
    insert into tb_photography
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vchPhotoId != null" >
        vch_photo_id,
      </if>
      <if test="vchPhotoName != null" >
        vch_photo_name,
      </if>
      <if test="vchPhotoGroup != null" >
        vch_photo_group,
      </if>
      <if test="vchPhotoTakeplace != null" >
        vch_photo_takeplace,
      </if>
      <if test="vchPhotoCamera != null" >
        vch_photo_camera,
      </if>
      <if test="vchPhotoFocalLength != null" >
        vch_photo_focal_length,
      </if>
      <if test="vchPhotoAperture != null" >
        vch_photo_aperture,
      </if>
      <if test="vchPhotoExposureTime != null" >
        vch_photo_exposure_time,
      </if>
      <if test="vchPhotoIso != null" >
        vch_photo_iso,
      </if>
      <if test="vchPhotoOwner != null" >
        vch_photo_owner,
      </if>
      <if test="vchCloseFlg != null" >
        vch_close_flg,
      </if>
      <if test="vchAddUsr != null" >
        vch_add_usr,
      </if>
      <if test="dtAddDate != null" >
        dt_add_date,
      </if>
      <if test="vchModUsr != null" >
        vch_mod_usr,
      </if>
      <if test="dtModDate != null" >
        dt_mod_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vchPhotoId != null" >
        #{vchPhotoId,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoName != null" >
        #{vchPhotoName,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoGroup != null" >
        #{vchPhotoGroup,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoTakeplace != null" >
        #{vchPhotoTakeplace,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoCamera != null" >
        #{vchPhotoCamera,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoFocalLength != null" >
        #{vchPhotoFocalLength,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoAperture != null" >
        #{vchPhotoAperture,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoExposureTime != null" >
        #{vchPhotoExposureTime,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoIso != null" >
        #{vchPhotoIso,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoOwner != null" >
        #{vchPhotoOwner,jdbcType=VARCHAR},
      </if>
      <if test="vchCloseFlg != null" >
        #{vchCloseFlg,jdbcType=VARCHAR},
      </if>
      <if test="vchAddUsr != null" >
        #{vchAddUsr,jdbcType=VARCHAR},
      </if>
      <if test="dtAddDate != null" >
        #{dtAddDate,jdbcType=TIMESTAMP},
      </if>
      <if test="vchModUsr != null" >
        #{vchModUsr,jdbcType=VARCHAR},
      </if>
      <if test="dtModDate != null" >
        #{dtModDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shaunz.photography.web.photography.entity.PhotoGraphy" >
    update tb_photography
    <set >
      <if test="vchPhotoName != null" >
        vch_photo_name = #{vchPhotoName,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoGroup != null" >
        vch_photo_group = #{vchPhotoGroup,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoTakeplace != null" >
        vch_photo_takeplace = #{vchPhotoTakeplace,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoCamera != null" >
        vch_photo_camera = #{vchPhotoCamera,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoFocalLength != null" >
        vch_photo_focal_length = #{vchPhotoFocalLength,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoAperture != null" >
        vch_photo_aperture = #{vchPhotoAperture,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoExposureTime != null" >
        vch_photo_exposure_time = #{vchPhotoExposureTime,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoIso != null" >
        vch_photo_iso = #{vchPhotoIso,jdbcType=VARCHAR},
      </if>
      <if test="vchPhotoOwner != null" >
        vch_photo_owner = #{vchPhotoOwner,jdbcType=VARCHAR},
      </if>
      <if test="vchCloseFlg != null" >
        vch_close_flg = #{vchCloseFlg,jdbcType=VARCHAR},
      </if>
      <if test="vchAddUsr != null" >
        vch_add_usr = #{vchAddUsr,jdbcType=VARCHAR},
      </if>
      <if test="dtAddDate != null" >
        dt_add_date = #{dtAddDate,jdbcType=TIMESTAMP},
      </if>
      <if test="vchModUsr != null" >
        vch_mod_usr = #{vchModUsr,jdbcType=VARCHAR},
      </if>
      <if test="dtModDate != null" >
        dt_mod_date = #{dtModDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where vch_photo_id = #{vchPhotoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shaunz.photography.web.photography.entity.PhotoGraphy" >
    update tb_photography
    set vch_photo_name = #{vchPhotoName,jdbcType=VARCHAR},
      vch_photo_group = #{vchPhotoGroup,jdbcType=VARCHAR},
      vch_photo_takeplace = #{vchPhotoTakeplace,jdbcType=VARCHAR},
      vch_photo_camera = #{vchPhotoCamera,jdbcType=VARCHAR},
      vch_photo_focal_length = #{vchPhotoFocalLength,jdbcType=VARCHAR},
      vch_photo_aperture = #{vchPhotoAperture,jdbcType=VARCHAR},
      vch_photo_exposure_time = #{vchPhotoExposureTime,jdbcType=VARCHAR},
      vch_photo_iso = #{vchPhotoIso,jdbcType=VARCHAR},
      vch_photo_owner = #{vchPhotoOwner,jdbcType=VARCHAR},
      vch_close_flg = #{vchCloseFlg,jdbcType=VARCHAR},
      vch_add_usr = #{vchAddUsr,jdbcType=VARCHAR},
      dt_add_date = #{dtAddDate,jdbcType=TIMESTAMP},
      vch_mod_usr = #{vchModUsr,jdbcType=VARCHAR},
      dt_mod_date = #{dtModDate,jdbcType=TIMESTAMP}
    where vch_photo_id = #{vchPhotoId,jdbcType=VARCHAR}
  </update>
</mapper>