<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shaunz.webform.web.marketinfo.dao.MarketInfoMapper" >
  <resultMap id="BaseResultMap" type="com.shaunz.webform.web.marketinfo.entity.MarketInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="header" property="header" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="img_id" property="imgId" jdbcType="VARCHAR" />
    <result column="button_id" property="buttonId" jdbcType="VARCHAR" />
    <result column="post_time" property="postTime" jdbcType="VARCHAR" />
    <result column="author_id" property="authorId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="MarketInfo" type="com.shaunz.webform.web.marketinfo.entity.MarketInfo" extends="BaseResultMap">
	<association property="image" column="img_id" javaType="com.shaunz.webform.web.image.entity.Image">
		<id column="img_id" property="id" jdbcType="VARCHAR" />
	   	<result column="img_name" property="name" jdbcType="VARCHAR" />
	   	<result column="img_url" property="url" jdbcType="VARCHAR" />
	   	<result column="img_css_class" property="cssClass" jdbcType="VARCHAR" />
	</association>
	<association property="button" column="button_id" javaType="com.shaunz.webform.web.button.entity.Button">
		<id column="button_id" property="id" jdbcType="VARCHAR" />
	   	<result column="button_name" property="name" jdbcType="VARCHAR" />
	   	<result column="button_url" property="url" jdbcType="VARCHAR" />
	   	<result column="button_css_class" property="cssClass" jdbcType="VARCHAR" />
	</association>
	<association property="author" column="author_id" javaType="com.shaunz.webform.web.autor.entity.Author">
		<id column="author_id" property="id" jdbcType="VARCHAR" />
	   	<result column="author_name" property="name" jdbcType="VARCHAR" />
	   	<result column="author_pwd" property="pwd" jdbcType="VARCHAR" />
	   	<result column="author_alias_nm" property="aliasNm" jdbcType="VARCHAR" />
	   	<result column="author_gender" property="gender" jdbcType="VARCHAR" />
	   	<result column="author_email" property="email" jdbcType="VARCHAR" />
	   	<result column="author_close_flg" property="closeFlg" jdbcType="VARCHAR" />
	   	<result column="author_lock_up" property="lockUp" jdbcType="VARCHAR" />
	</association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, header, content, img_id, button_id, post_time, author_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_market_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_market_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shaunz.webform.web.marketinfo.entity.MarketInfo" >
    insert into tb_market_info (id, name, header, 
      content, img_id, button_id, 
      post_time, author_id)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{header,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{imgId,jdbcType=VARCHAR}, #{buttonId,jdbcType=VARCHAR}, 
      #{postTime,jdbcType=VARCHAR}, #{authorId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shaunz.webform.web.marketinfo.entity.MarketInfo" >
    insert into tb_market_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="header != null" >
        header,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="imgId != null" >
        img_id,
      </if>
      <if test="buttonId != null" >
        button_id,
      </if>
      <if test="postTime != null" >
        post_time,
      </if>
      <if test="authorId != null" >
        author_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="header != null" >
        #{header,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="imgId != null" >
        #{imgId,jdbcType=VARCHAR},
      </if>
      <if test="buttonId != null" >
        #{buttonId,jdbcType=VARCHAR},
      </if>
      <if test="postTime != null" >
        #{postTime,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shaunz.webform.web.marketinfo.entity.MarketInfo" >
    update tb_market_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="header != null" >
        header = #{header,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="imgId != null" >
        img_id = #{imgId,jdbcType=VARCHAR},
      </if>
      <if test="buttonId != null" >
        button_id = #{buttonId,jdbcType=VARCHAR},
      </if>
      <if test="postTime != null" >
        post_time = #{postTime,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shaunz.webform.web.marketinfo.entity.MarketInfo" >
    update tb_market_info
    set name = #{name,jdbcType=VARCHAR},
      header = #{header,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      img_id = #{imgId,jdbcType=VARCHAR},
      button_id = #{buttonId,jdbcType=VARCHAR},
      post_time = #{postTime,jdbcType=VARCHAR},
      author_id = #{authorId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="quaryAll" resultMap="MarketInfo">
  	select market_info.id,market_info.name,market_info.header,market_info.content,market_info.img_id,market_info.button_id,market_info.post_time,market_info.author_id,
	img.id img_id,img.name img_name,img.url img_url,img.css_class img_css_class,
	button.id button_id,button.name button_name,button.url button_url,button.css_class button_css_class,
	author.id author_id,author.name author_name,author.pwd author_pwd,author.alias_nm author_alias_nm, 
	author.gender author_gender,author.email author_email,author.close_flg author_close_flg,author.lock_up author_lock_up 
	from tb_market_info market_info
	left join tb_image img on img.id = market_info.img_id
	left join tb_button button on button.id = market_info.button_id
	left join tb_author author on author.id = market_info.author_id
  </select>
</mapper>