<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shaunz.framework.authority.user.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.shaunz.framework.authority.user.entity.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="org_path" property="orgPath" jdbcType="VARCHAR" />
    <result column="alias_nm" property="aliasNm" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="close_flg" property="closeFlg" jdbcType="VARCHAR" />
    <result column="lock_up" property="lockUp" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="attempt_sign_times" property="attemptSignTimes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, login_name, password, org_path, alias_nm, gender, email, close_flg, lock_up, 
    start_time, end_time, attempt_sign_times
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shaunz.framework.authority.user.entity.User" >
    insert into tb_user (id, login_name, password, 
      org_path, alias_nm, gender, 
      email, close_flg, lock_up, 
      start_time, end_time, attempt_sign_times)
    values (#{id,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{orgPath,jdbcType=VARCHAR}, #{aliasNm,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{closeFlg,jdbcType=VARCHAR}, #{lockUp,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{attemptSignTimes,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shaunz.framework.authority.user.entity.User" >
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="orgPath != null" >
        org_path,
      </if>
      <if test="aliasNm != null" >
        alias_nm,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="closeFlg != null" >
        close_flg,
      </if>
      <if test="lockUp != null" >
        lock_up,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="attemptSignTimes != null" >
        attempt_sign_times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="orgPath != null" >
        #{orgPath,jdbcType=VARCHAR},
      </if>
      <if test="aliasNm != null" >
        #{aliasNm,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="closeFlg != null" >
        #{closeFlg,jdbcType=VARCHAR},
      </if>
      <if test="lockUp != null" >
        #{lockUp,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attemptSignTimes != null" >
        #{attemptSignTimes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shaunz.framework.authority.user.entity.User" >
    update tb_user
    <set >
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="orgPath != null" >
        org_path = #{orgPath,jdbcType=VARCHAR},
      </if>
      <if test="aliasNm != null" >
        alias_nm = #{aliasNm,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="closeFlg != null" >
        close_flg = #{closeFlg,jdbcType=VARCHAR},
      </if>
      <if test="lockUp != null" >
        lock_up = #{lockUp,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attemptSignTimes != null" >
        attempt_sign_times = #{attemptSignTimes,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shaunz.framework.authority.user.entity.User" >
    update tb_user
    set login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      org_path = #{orgPath,jdbcType=VARCHAR},
      alias_nm = #{aliasNm,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      close_flg = #{closeFlg,jdbcType=VARCHAR},
      lock_up = #{lockUp,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      attempt_sign_times = #{attemptSignTimes,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByUserNm" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where login_name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="selectByEmail" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where email = #{email,jdbcType=VARCHAR}
  </select>
  <select id="queryLst" resultMap="BaseResultMap" parameterType="com.shaunz.framework.authority.user.entity.User" >
    select 
    <include refid="Base_Column_List" />
    from tb_user
    <where>
    	close_flg = 'N',
   	  <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="orgPath != null" >
        org_path = #{orgPath,jdbcType=VARCHAR},
      </if>
      <if test="aliasNm != null" >
        alias_nm = #{aliasNm,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="closeFlg != null" >
        close_flg = #{closeFlg,jdbcType=VARCHAR},
      </if>
      <if test="lockUp != null" >
        lock_up = #{lockUp,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attemptSignTimes != null" >
        attempt_sign_times = #{attemptSignTimes,jdbcType=VARCHAR},
      </if>
    </where>
  </select>
  <select id="queryAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where close_flg = 'N'
  </select>   
</mapper>