.alter-box{
    width: 350px;
    height: auto;
    min-height: 100px;
    position:absolute;
    bottom: 10px;
    right: 10px;
    text-align: left;
    word-wrap: break-word;
}
.glyphicon:hover { cursor: pointer; }
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.settings{
	position:absolute;
	right:0;
	order:1;
	flex:0 0 auto;
	height:calc(100% - 50px);
	padding:24px;
	display:flex;
	opacity:1;
	visibility:visible;
	z-index:104;
	background:#101010;
	color:#f2f2f2;
}
.settings > div > div > div > a{
	color:#f2f2f2;
}
.gi-1x{font-size: 1em;}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}
.gi-6x{font-size: 6em;}

/*Image picker start*/
.img-upload-btn { 
    position: relative; 
    overflow: hidden; 
    padding-top: 95%;
} 

.img-upload-btn input[type=file] { 
    position: absolute; 
    top: 0; 
    right: 0; 
    min-width: 100%; 
    min-height: 100%; 
    font-size: 100px; 
    text-align: right; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    outline: none; 
    background: white; 
    cursor: inherit; 
    display: block; 
} 

.img-upload-btn i { 
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

.btn-radio {
    position: relative; 
    overflow: hidden; 
}

.btn-radio input[type=radio] { 
    position: absolute; 
    top: 0; 
    right: 0; 
    min-width: 100%; 
    min-height: 100%; 
    font-size: 100px; 
    text-align: right; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    outline: none; 
    background: white; 
    cursor: inherit; 
    display: block; 
}
/*Image picker end*/
.image_picker_image {
    max-width: 200px;
    max-height: 150px;
    background-color: #FF0000;
}
.drop_zone {
  border: 5px solid blue;
  width:  200px;
  height: 100px;
}